<header class="ng-cue-header-container h-16 max-h-16 px-4 w-full inline-flex justify-between items-center">
    <section>
        <span class="text-white font-extrabold text-xl font-title">CSS CONVERTER EASE</span>
    </section>

    <!-- <section class="lg:flex gap-2 hidden">
        @for (unit of units; track $index) {
            <div class="ng-cue-dropdown-container">
                <button class="ng-cue-dropdown-button">
                    {{ unit.name }}
                    <i class="ri-arrow-down-s-line"></i>
                </button>
                <div class="ng-cue-dropdown-content">
                  @for (conversion of unit.conversions; track $index) {
                    <a>{{ conversion.label }}</a>
                }
                </div>
            </div>          
        }
    </section> -->

    <section class="block">
        <a class="text-white text-4xl" href="https://github.com/Bissuett729/css-unit-easy.git" target="_blank"><i class="ri-github-fill"></i></a>
    </section>
</header>